BeautifulSoup==3.2.1
certifi==2017.4.17
chardet==3.0.4
click==6.7
decorator==4.0.11
Flask==0.12.2
geocoder==1.23.1
googlemaps==2.5.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
ratelim==0.1.6
requests==2.18.1
six==1.10.0
urllib3==1.26.5
Werkzeug==0.12.2
wheel==0.24.0
